<div class="main"">
    <h1>Aldo Shoes Store</h1>

    <table>
        <tbody>
            <tr>
                <td style="background-color: red;width: 60px;"></td>
                <td>Inventory left less than 15</td>
            </td>
            <tr>
                <td style="background-color: green;width: 60px;"></td>
                <td>Inventory left greater than 70</td>
            </tr>
        </tbody>
    </table>

    <div id="app"></div>
</div>